{% load bootstrap3 %}
.container
  %form{action: '{% url "topics:search" %}', method: 'GET', enctype: 'multipart/form-data'}
    .row
      .col-xs-11
        {% bootstrap_field sform.q show_label=False %}
      .col-xs-1
        {% buttons %}
        %button.btn.btn-primary.width-100p &nbsp;{% bootstrap_icon 'search' %}&nbsp;
        {% endbuttons %}
