{% for topic in topic_list %}
.container
  .row
    .col-xs-12
      .panel.panel-default
        .panel-heading
          .pull-left
            {% include "_user.html" %}
          .pull-right
            .large.pt-10 Topic Score {{ topic.topic_score }}
          .clearfix
        .panel-body
          %a{href: '{% url "reactions:detail" topic.pk %}'}
            .strong {{ topic.title }}
          %div {{ topic.contents|linebreaks }}
{% endfor %}
{% if not topic_list %}
.container
  .row
    .col-xs-12
      %h5 There are no results.
{% endif %}
