{% extends "_layout.html" %}
{% load bootstrap3 %}
{% block css %}
{% endblock %}
{% block content %}
.container
  .row
    {% include "topics/_searchform.html" %}
{% for topic in topic_list %}
.container
  .row
    .col-xs-12
      .panel.panel-default
        .panel-heading
          .pull-left
            {% include "_user.html" %}
          .pull-right
            .pt-10 Topic Score {{ topic.topic_score }}
          .clearfix
        .panel-body
          %a{href: '{% url "reactions:detail" topic.pk %}'}
            %strong {{ topic.title }}
          %p {{ topic.contents }}
{% endfor %}
.container
  .row
    %form.topic-new-form{action: '{% url "topics:new" %}', method: 'POST', enctype: 'multipart/form-data'}
      {% csrf_token %}
      .col-xs-10
        {% bootstrap_field tform.title show_label=False %}
        {% bootstrap_field tform.contents show_label=False %}
      .col-xs-2.button-wrapper
        {% buttons %}
        %button.btn.btn-primary.width-100p Create Topic
        {% endbuttons %}
{% endblock %}
