{% extends "_layout.html" %}
{% load bootstrap3 %}
{% block css %}
{% endblock %}
{% block content %}
{% for topic in topic_list %}
.panel.panel-default
  .panel-heading
    .pull-left {{ topic.actor }}
    .pull-right {{ topic.created_at }}
    .clearfix
  .panel-body
    %a{href: '{% url "reactions:detail" topic.pk %}'}
      %strong {{ topic.title }}
    %p {{ topic.contents }}
{% endfor %}
.container
  .row
    %form{action: '{% url "topics:new" %}', method: 'POST', enctype: 'multipart/form-data'}
      {% csrf_token %}
      .col-sm-8
        {% bootstrap_field form.title show_label=False %}
        {% bootstrap_field form.contents show_label=False %}
      .col-sm-4
        {% buttons %}
        %button.btn.btn-primary.width-100p Create Topic
        {% endbuttons %}
{% endblock %}
