{% extends "_layout.html" %}
{% block css %}
{% endblock %}
{% block content %}
{% for topic in topic_list %}
.panel.panel-default
  .panel-heading {{ topic.actor }} ({{ topic.created_at }})
  .panel-body {{ topic.contents }}
{% endfor %}
.text-center
  %a.btn.btn-default.btn-large{href: '{% url "topics:new" %}'} New
{% endblock %}
