{% extends "_layout.html" %}
{% load bootstrap3 bootstrap_pagination %}
{% block css %}
{% endblock %}
{% block content %}
{% include "topics/_searchform.html" %}
.container
  .text-center.mt-m20
    {% bootstrap_paginate topic_list range=10 show_prev_next="false" show_first_last="true" %}
{% include "_topic_list.html" %}
{% if user.is_authenticated %}
.container
  .row
    %form.topic-new-form{action: '{% url "topics:new" %}', method: 'POST', enctype: 'multipart/form-data'}
      {% csrf_token %}
      .col-xs-10
        {% bootstrap_form rform show_label=False %}
      .col-xs-2.button-wrapper
        {% buttons %}
        %button.btn.btn-primary.width-100p Create Topic
        {% endbuttons %}
      .col-xs-12
        .thumbnail.well
          .thumbnail-close
            {% bootstrap_icon 'remove' %}
          .thumbnail-url-image
          %a.thumbnail-url{target: '_blank'}
            %span.thumbnail-url-title
          .thumbnail-url-description
{% endif %}
{% endblock %}
{% block javascript %}
:javascript
  $('textarea').liveUrl({
    success: function(data){
      $('#id_url').val(data.url);
      $('#id_url_title').val(data.title);
      $('#id_url_description').val(data.description);
      $('#id_url_image').val(data.image);
      if(data.image) {
        $('form .thumbnail-url-image').css('background-image', 'url(' + data.image + ')');
        $('form .thumbnail-url-image').show();
      }
      $('form .thumbnail-url').attr('href', data.url);
      $('form .thumbnail-url-title').html(data.title);
      $('form .thumbnail-url-description').html(data.description);
      $('form .thumbnail').show();
    }
  });
  $('.thumbnail-close').click(function(){
    $('#id_url').val('');
    $('#id_url_title').val('');
    $('#id_url_description').val('');
    $('#id_url_image').val('');
    $('form .thumbnail').hide();
  });
{% endblock %}
