{% extends "_layout.html" %}
{% load thumbnail %}
{% block css %}
{% endblock %}
{% block content %}
{% for current_reaction in reaction_list %}
.container
  .row
    .col-xs-12.text-center
      %a.btn.btn-white.mw-350.text-left.mb-20{href: '{% url "reactions:detail" current_reaction.pk %}'}
        %table
          %tbody
            %tr
              %td
                %span.mr-10 {{ current_reaction.pk }}
              %td
                {% if current_reaction.actor.user_profile.photo %}
                {% thumbnail current_reaction.actor.user_profile.photo "30x30" crop="center" as im %}
                %img.mr-10{src: '{{ im.url }}', width: '{{ im.width }}', height: '{{ im.height }}'}
                {% endthumbnail %}
                {% else %}
                {% thumbnail current_reaction.actor.user_profile.photo_default "30x30" crop="center" as im %}
                %img.mr-10{src: '{{ im.url }}', width: '{{ im.width }}', height: '{{ im.height }}'}
                {% endthumbnail %}
                {% endif %}
              %td
                {% if current_reaction.target %}
                %span.recent-label >> {{ current_reaction.target }}
                {% else %}
                %span.recent-label Topic
                {% endif %}
                .strong.mw-300.ellipsis {{ current_reaction.title }}
{% endfor %}
{% endblock %}
