{% extends "_layout.html" %}
{% load bootstrap3 thumbnail staticfiles %}
{% block css %}
{% endblock %}
{% block content %}
.container
  .row
    {% include "topics/_searchform.html" %}
  .row
    .col-xs-12
      %h4 Search Results for
        %strong {{ request.GET.q }}
  {% for topic in topic_list %}
  .row
    .col-xs-12
      .panel.panel-default
        .panel-heading
          .pull-left
            %table
              %tbody
                %tr
                  %td
                    {% if topic.actor.user_profile.photo %}
                    {% thumbnail topic.actor.user_profile.photo "45x45" crop="center" as im %}
                    %img{src: '{{ im.url }}', width: '{{ im.width }}', height: '{{ im.height }}'}
                    {% endthumbnail %}
                    {% else %}
                    %img{src: '{% static "images/pica.jpg" %}', width: '45', height: '45'}
                    {% endif %}
                  %td
                    %div {{ topic.actor.username }}
                    %div {{ topic.created_at }}
          .pull-right
            %h5 Topic Score {{ topic.topic_score }}
          .clearfix
        .panel-body
          %a{href: '{% url "reactions:detail" topic.pk %}'}
            %strong {{ topic.title }}
          %p {{ topic.contents }}
  {% endfor %}
  {% if not topic_list %}
  .row
    .col-xs-12
      %h5 There are no results.
  {% endif %}
{% endblock %}
