{% extends "_layout.html" %}
{% load bootstrap3 bootstrap_pagination %}
{% block css %}
{% endblock %}
{% block content %}
{% include "topics/_searchform.html" %}
.container
  .text-center.mt-m20
    {% bootstrap_paginate topic_list range=10 %}
.container
  .row
    .col-xs-12
      %h4 Search Results for
        %strong {{ request.GET.q }}
{% include "_topiclist.html" %}
{% endblock %}
