/* topics recent */
.recent-label
  border: 1px solid #999
  border-radius: 5px
  font-size: 80%
  padding: 0 4px
  background-color: #EEE
  color: 333

/* search form */
.search-form
  .form-group:first-of-type
    width: calc(100% - 50px)
    float: left
  .form-group:last-of-type
    width: 50px
    float: left

/* reactions detail */
.scrapbook-image
  background-size: cover
  background-position: center
  height: 150px
  border: 1px solid #CCC
  margin-bottom: 5px

.modal-table-wrapper
  max-width: 298px
  margin: auto
  .recent-modal-table
    td:first-of-type
      width: 40px
    td:last-of-type
      width: 150px
    .target-highlight
      background-color: #F8F8F8
      color: #444
      border: 1px solid #999
      border-radius: 3px
      padding: 0 2px 0 3px

.reaction-title
  margin-bottom: 20px
  padding: 9px
  display: block
  border: 1px solid transparent
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.25)
  box-shadow: 1px 1px 1px rgba(0,0,0,0.25)

.reaction-title:hover, .reaction-title:focus
  text-decoration: none

form .thumbnail
  display: none
  .thumbnail-close
    cursor: pointer
  .thumbnail-url-image
    display: none

.thumbnail
  .thumbnail-url-image
    height: 150px
    border: 1px solid #CCC
    background-size: cover
    background-position: center
    margin-bottom: 8px
  .thumbnail-url
    margin: 0 0 3px
    display: block
    font-size: 130%
    font-weight: bolder
  .thumbnail-close
    text-align: right
    color: #777
    margin: -10px -10px 10px
