html, body
  min-width: 1230px

table
  font-size: 13px

a
  cursor: pointer

.brand, .brand:hover
  position: absolute
  width: 100%
  left: 0
  top: 0
  text-align: center
  margin: auto
  font-weight: bold
  font-size: 18px

.brand a
  color: #FFF
  text-decoration: none
  display: block
  margin: auto
  width: 150px
  padding: 10px 0px

.navbar-icon
  color: #FFF
  height: 45px
  padding-top: 11px
  margin-left: 11px
  margin-right: 11px
  cursor: pointer
  font-size: 21px
  a
    color: #FFF

.navbar-default
  .dropdown-menu
    background-color: #FFF
  .dropdown-menu>li>a, .dropdown-menu>li>a:focus
    color: #333
  .dropdown-menu>li>a:hover, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover
    background-color: #EAEAEA

.dropdown-menu .divider
  margin: 0
  background-color: #DDD

.table-bordered th
  background-color: #F6F6FA

section.main-section
  margin: auto
  max-width: 1180px
  padding-top: 5px

aside.alert
  max-width: 800px
  margin-left: auto
  margin-right: auto
  .close
    opacity: 0.8
    font-size: inherit !important
    .glyphicon-remove
      margin-top: 0
      color: #FFF

footer
  margin-top: 15px

aside#spin-modal
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(255, 255, 255, .5)
  display: none
