{% extends "_layout.html" %}
{% load bootstrap3 bootstrap_pagination staticfiles thumbnail %}
{% block content %}
.container
  .text-center.mt-m20
    {% bootstrap_paginate topic_list range=10 show_prev_next="false" show_first_last="true" %}
{% for topic in topic_list %}
.container
  .row
    .col-xs-12
      .panel.panel-default
        .panel-heading
          .pull-left
            {% include "_user.html" %}
          .pull-right
            .large.pt-10 Topic Score {{ topic.topic_score }}
          .clearfix
        .panel-body
          %a{href: '{% url "reactions:detail" topic.pk %}'}
            .strong {{ topic.title }}
          %div {{ topic.contents|linebreaks }}
        .panel-footer
          .row
            {% for r in topic.my_reactions.all %}
            .col-xs-3
              .panel.panel-default.mt-5.mb-5
                .panel-body
                  .pull-left
                    .small {{ r.created_at }}
                  .pull-right
                    .small {{ r.score }}
                  .clearfix
                  %a{href: '{% url "reactions:detail" r.pk %}'}
                    .strong {{ r.title }}
            {% endfor %}
          .clearfix
{% endfor %}
{% endblock %}
