{% extends "_layout.html" %}
{% load bootstrap3 bootstrap_pagination %}
{% block content %}
.container
  .text-center.mt-m20
    {% bootstrap_paginate topic_list range=10 show_prev_next="false" show_first_last="true" %}
.container
  .row
    .col-xs-12
      {% include "_topic_list.html" %}
{% endblock %}
