{% extends "_layout.html" %}
{% load thumbnail %}
{% block content %}
.panel.panel-default
  .panel-heading
    %b Notifications
  {% for notification in notification_list %}
  %div
    {% include "_notification.html" %}
  %hr.margin-0
  {% endfor %}
  {% if not notification_list %}
  .panel-body There are no notifications.
  {% endif %}
{% endblock %}
