{% extends "_layout.html" %}
{% load i18n bootstrap3 %}
{% block content %}
.mw-400.margin-center
  %form{action: '', method: 'POST', enctype: 'multipart/form-data'}
    {% csrf_token %}
    {% bootstrap_form uform %}
    {% bootstrap_form pform %}
    {% bootstrap_button submit button_class="btn-primary width-100p" %}
{% endblock %}
