{% extends "_layout.html" %}
{% load bootstrap3 staticfiles thumbnail %}
{% block content %}
.container
  .row
    .col-xs-9
      %h3 Tree
      .row
        {% for reaction in tree reversed %}
        .col-xs-3
          {% if reaction.author.user_profile.photo %}
          {% thumbnail reaction.author.user_profile.photo "30x30" crop="center" as im %}
          %img{src: '{{ im.url }}', width: '{{ im.width }}', height: '{{ im.height }}'}
          {% endthumbnail %}
          {% else %}
          %img{src: '{% static "images/pica.jpg" %}', width: '30', height: '30'}
          {% endif %}
          %a{href: '{% url "reactions:detail" reaction.pk %}'}
            %span {{ reaction.title }}
        {% endfor %}
      .row
        {% for list in lists %}
        .col-xs-4
          %h3 List {{ forloop.counter0 }}
          {% for reaction in list %}
            {% if reaction in tree %}
            .panel.panel-info
              .panel-heading
                {% if reaction.actor.user_profile.photo %}
                {% thumbnail reaction.actor.user_profile.photo "30x30" crop="center" as im %}
                %img{src: '{{ im.url }}', width: '{{ im.width }}', height: '{{ im.height }}'}
                {% endthumbnail %}
                {% else %}
                %img{src: '{% static "images/pica.jpg" %}', width: '30', height: '30'}
                {% endif %}
                %a{href: '{% url "reactions:detail" reaction.pk %}'}
                  {% if reaction.deleted == True %}
                  %span This reaction is deleted.
                  {% else %}
                  %span {{ reaction.title }}
                  {% endif %}
            {% else %}
            .panel.panel-default
              .panel-heading
                {% if reaction.actor.user_profile.photo %}
                {% thumbnail reaction.actor.user_profile.photo "30x30" crop="center" as im %}
                %img{src: '{{ im.url }}', width: '{{ im.width }}', height: '{{ im.height }}'}
                {% endthumbnail %}
                {% else %}
                %img{src: '{% static "images/pica.jpg" %}', width: '30', height: '30'}
                {% endif %}
                %a{href: '{% url "reactions:detail" reaction.pk %}'}
                  {% if reaction.deleted == True %}
                  %span This reaction is deleted.
                  {% else %}
                  %span {{ reaction.title }}
                  {% endif %}
            {% endif %}
          {% endfor %}
        {% endfor %}
    .col-xs-3
      .pull-left
        %table
          %tbody
            %tr
              %td
                {% if current_reaction.actor.user_profile.photo %}
                {% thumbnail current_reaction.actor.user_profile.photo "45x45" crop="center" as im %}
                %img{src: '{{ im.url }}', width: '{{ im.width }}', height: '{{ im.height }}'}
                {% endthumbnail %}
                {% else %}
                %img{src: '{% static "images/pica.jpg" %}', width: '45', height: '45'}
                {% endif %}
              %td
                %div {{ current_reaction.actor.username }}
                %div {{ current_reaction.created_at }}
      .pull-right
        %h5
          %strong {{ current_reaction.score }}
      .clearfix
      {% if current_reaction.deleted == True %}
      %h3 This reaction is deleted.
      {% else %}
      %h3 {{ current_reaction.title }}
      %p {{ current_reaction.contents }}
      {% endif %}
      {% if current_rate %}
      .pt-10
        .well.well-sm.text-center
          %span You rated as {{ current_rate }}.
      %form{action: '{% url "reactions:reaction_new" current_reaction.pk %}', method: 'POST', enctype: 'multipart/form-data'}
        {% csrf_token %}
        %input{type: 'hidden', name: 'next', value: '{{ next }}'}
        {% bootstrap_form form show_label=False %}
        {% buttons %}
        %button.btn.btn-primary.width-100p Save
        {% endbuttons %}
      {% else %}
      %form{action: '{% url "reactions:good" current_reaction.pk %}', method: 'POST', enctype: 'multipart/form-data'}
        {% csrf_token %}
        %input{type: 'hidden', name: 'next', value: '{{ next }}'}
        .pt-10
          %button.btn.btn-primary.width-100p Good
      %form{action: '{% url "reactions:pass" current_reaction.pk %}', method: 'POST', enctype: 'multipart/form-data'}
        {% csrf_token %}
        %input{type: 'hidden', name: 'next', value: '{{ next }}'}
        .pt-10
          %button.btn.btn-default.width-100p Pass
      {% endif %}
{% endblock %}
