{% extends "_layout.html" %}
{% load bootstrap3 staticfiles thumbnail %}
{% block content %}
.ranking-modal.modal.fade{tabindex: '-1', role: 'dialog', 'aria-labelledby': 'mySmallModalLabel'}
  .modal-dialog.modal-sm{role: 'document'}
    .modal-content
      .modal-header
        %button.close{'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button'}
          %span{"aria-hidden" => "true"} ×
        %strong Ranking
      #ranking-table-wrapper.modal-body
.container
  .row
    .col-xs-9
      .mb-10
        .strong Tree
      .row
        {% for reaction in tree reversed %}
        .col-xs-3
          {% if reaction.author.user_profile.photo %}
          {% thumbnail reaction.author.user_profile.photo "30x30" crop="center" as im %}
          %img{src: '{{ im.url }}', width: '{{ im.width }}', height: '{{ im.height }}'}
          {% endthumbnail %}
          {% else %}
          %img{src: '{% static "images/pica.jpg" %}', width: '30', height: '30'}
          {% endif %}
          %a{href: '{% url "reactions:detail" reaction.pk %}'}
            %span {{ reaction.title }}
        {% endfor %}
      .row
        .pull-right
          %a#ranking-btn.btn.btn-sm.btn-warning{url: '{% url "reactions:ranking" current_reaction.topic %}','data-toggle': 'modal', 'data-target': '.ranking-modal'} Ranking
      .mb-10
        .strong Family
      .row
        {% for list in lists %}
        .col-xs-4
          {% for reaction in list %}
            {% if reaction in tree %}
            .well.well-sm.label-info
              {% if reaction.actor.user_profile.photo %}
              {% thumbnail reaction.actor.user_profile.photo "30x30" crop="center" as im %}
              %img{src: '{{ im.url }}', width: '{{ im.width }}', height: '{{ im.height }}'}
              {% endthumbnail %}
              {% else %}
              %img{src: '{% static "images/pica.jpg" %}', width: '30', height: '30'}
              {% endif %}
              %a{href: '{% url "reactions:detail" reaction.pk %}'}
                {% if reaction.deleted == True %}
                %span This reaction is deleted.
                {% else %}
                %span {{ reaction.title }}
                {% endif %}
            {% else %}
            .well.well-sm
              {% if reaction.actor.user_profile.photo %}
              {% thumbnail reaction.actor.user_profile.photo "30x30" crop="center" as im %}
              %img{src: '{{ im.url }}', width: '{{ im.width }}', height: '{{ im.height }}'}
              {% endthumbnail %}
              {% else %}
              %img{src: '{% static "images/pica.jpg" %}', width: '30', height: '30'}
              {% endif %}
              %a{href: '{% url "reactions:detail" reaction.pk %}'}
                {% if reaction.deleted == True %}
                %span This reaction is deleted.
                {% else %}
                %span {{ reaction.title }}
                {% endif %}
            {% endif %}
          {% endfor %}
        {% endfor %}
    .col-xs-3
      .pull-left
        %table
          %tbody
            %tr
              %td
                {% if current_reaction.actor.user_profile.photo %}
                {% thumbnail current_reaction.actor.user_profile.photo "45x45" crop="center" as im %}
                %img.mr-10{src: '{{ im.url }}', width: '{{ im.width }}', height: '{{ im.height }}'}
                {% endthumbnail %}
                {% else %}
                %img.mr-10{src: '{% static "images/pica.jpg" %}', width: '45', height: '45'}
                {% endif %}
              %td
                %div {{ current_reaction.actor.username }}
                %div {{ current_reaction.created_at }}
      .pull-right
        .pt-10 {{ current_reaction.score }}
      .clearfix
      {% if current_reaction.deleted == True %}
      %h3 This reaction is deleted.
      {% else %}
      %h3 {{ current_reaction.title }}
      %p {{ current_reaction.contents|linebreaks }}
      {% endif %}
      {% if current_reaction.url %}
      .thumbnail.well
        .thumbnail-url-image{style: 'background-image: url("{{ current_reaction.url_image }}")'}
        %a.thumbnail-url{href: '{{ current_reaction.url }}', target: '_blank'}
          %span.thumbnail-url-title {{ current_reaction.url_title }}
        .thumbnail-url-description {{ current_reaction.url_description }}
      {% endif %}
      .row
        .col-xs-6
          %form{action: '{% url "reactions:good" current_reaction.pk %}', method: 'POST', enctype: 'multipart/form-data'}
            {% csrf_token %}
            %input{type: 'hidden', name: 'next', value: '{{ next }}'}
            .pt-10
              {% if rating == 'G' %}
              %button.btn.btn-primary.width-100p Good
              {% else %}
              %button.btn.btn-white.width-100p Good
              {% endif %}
        .col-xs-6
          %form{action: '{% url "reactions:pass" current_reaction.pk %}', method: 'POST', enctype: 'multipart/form-data'}
            {% csrf_token %}
            %input{type: 'hidden', name: 'next', value: '{{ next }}'}
            .pt-10
              {% if rating == 'P' %}
              %button.btn.btn-primary.width-100p Pass
              {% else %}
              %button.btn.btn-white.width-100p Pass
              {% endif %}
      {% if rating %}
        %form.mt-20{action: '{% url "reactions:reaction_new" current_reaction.pk %}', method: 'POST', enctype: 'multipart/form-data'}
          {% csrf_token %}
          %input{type: 'hidden', name: 'next', value: '{{ next }}'}
          {% bootstrap_form form show_label=False %}
          .thumbnail.well
            .thumbnail-close
              {% bootstrap_icon 'remove' %}
            .thumbnail-url-image
            %a.thumbnail-url{target: '_blank'}
              %span.thumbnail-url-title
            .thumbnail-url-description
          {% bootstrap_button "Save" button_class="btn-primary width-100p" %}
      {% endif %}
{% endblock %}
{% block javascript %}
:javascript
  $('#ranking-btn').click(function(){
    var url = $(this).attr('url');
    $.ajax({
      method: 'GET',
      url: url,
    }).done(function(data){
      $('#ranking-table-wrapper').html(data);
    });
  });
  $('textarea').liveUrl({
    success: function(data){
      $('#id_url').val(data.url);
      $('#id_url_title').val(data.title);
      $('#id_url_description').val(data.description);
      $('#id_url_image').val(data.image);
      if(data.image) {
        $('form .thumbnail-url-image').css('background-image', 'url(' + data.image + ')');
        $('form .thumbnail-url-image').show();
      }
      $('form .thumbnail-url').attr('href', data.url);
      $('form .thumbnail-url-title').html(data.title);
      $('form .thumbnail-url-description').html(data.description);
      $('form .thumbnail').show();
    }
  });
  $('.thumbnail-close').click(function(){
    $('#id_url').val('');
    $('#id_url_title').val('');
    $('#id_url_description').val('');
    $('#id_url_image').val('');
    $('form .thumbnail').hide();
  });
{% endblock %}
