{% extends "_layout.html" %}
{% block content %}
.container
  .row
    .col-xs-12
      %h3 Tree
      {% for reaction in reaction_tree reversed %}
        %ul
          %li {{ reaction.actor }}
          %li
            %a{href: '{% url "reactions:detail" reaction.pk %}'}
              %span {{ reaction.contents }}
      {% endfor %}
.container
  .row
    .col-xs-4
      %h3 List 1
      {% for reaction in list_1 %}
        %ul
          %li {{ reaction.actor }}
          %li
            %a{href: '{% url "reactions:detail" reaction.pk %}'}
              %span {{ reaction.contents }}
      {% endfor %}
    .col-xs-4
      %h3 List 2
      {% for reaction in list_2 %}
        %ul
          %li {{ reaction.actor }}
          %li
            %a{href: '{% url "reactions:detail" reaction.pk %}'}
              %span {{ reaction.contents }}
      {% endfor %}
    .col-xs-4
      %h3 List 3
      {% for reaction in list_3 %}
        %ul
          %li {{ reaction.actor }}
          %li
            %a{href: '{% url "reactions:detail" reaction.pk %}'}
              %span {{ reaction.contents }}
      {% endfor %}
{% endblock %}
