{% extends "_layout.html" %}
{% load bootstrap3 staticfiles thumbnail %}
{% block content %}
.reaction-detail-modal.modal.fade{tabindex: '-1', role: 'dialog', 'aria-labelledby': 'reaction-detail-modal'}
  .modal-dialog.modal-sm{role: 'document'}
    .modal-content
      .modal-header
        %button.close{'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button'}
          %span{'aria-hidden': 'true'} ×
        %strong
      .modal-table-wrapper.modal-body
.container
  .row
    .col-lg-3.col-lg-push-9
      .text-center.mb-10
        %a.modal-btn.btn.btn-sm.btn-warning{url: '{% url "reactions:recent" current_reaction.topic %}','data-toggle': 'modal', 'data-target': '.reaction-detail-modal'} Recent
        %a.modal-btn.btn.btn-sm.btn-warning{url: '{% url "reactions:ranking" current_reaction.topic %}','data-toggle': 'modal', 'data-target': '.reaction-detail-modal'} Ranking
        %a.modal-btn.btn.btn-sm.btn-warning{url: '{% url "reactions:scrapbook" current_reaction.topic %}','data-toggle': 'modal', 'data-target': '.reaction-detail-modal'} Scrapbook
      .panel.panel-default
        .panel-heading
          .pull-left
            {% include "_user.html" %}
          .pull-right
            .pt-5 {{ current_reaction.score }}
          .clearfix
        .panel-body
          {% if current_reaction.deleted == True %}
          .strong This reaction is deleted.
          {% else %}
          .strong {{ current_reaction.title }}
          .mt-5 {{ current_reaction.contents|linebreaks }}
          {% endif %}
          {% if current_reaction.url %}
          %a.a-block.thumbnail.well.mt-10.mb-0{href: '{{ current_reaction.url }}', target: '_blank'}
            {% if current_reaction.url_image %}
            .thumbnail-url-image{style: 'background-image: url("{{ current_reaction.url_image }}")'}
            {% endif %}
            .thumbnail-url-title.strong {{ current_reaction.url_title }}
            .thumbnail-url-description {{ current_reaction.url_description }}
          {% endif %}
        .panel-footer
          .row
            .col-xs-6
              %form{action: '{% url "reactions:good" current_reaction.pk %}', method: 'POST', enctype: 'multipart/form-data'}
                {% csrf_token %}
                %input{type: 'hidden', name: 'next', value: '{{ next }}'}
                {% if rating == 'G' %}
                %button.btn.btn-primary.width-100p Good
                {% else %}
                %button.btn.btn-white.width-100p Good
                {% endif %}
            .col-xs-6
              %form{action: '{% url "reactions:pass" current_reaction.pk %}', method: 'POST', enctype: 'multipart/form-data'}
                {% csrf_token %}
                %input{type: 'hidden', name: 'next', value: '{{ next }}'}
                {% if rating == 'P' %}
                %button.btn.btn-primary.width-100p Pass
                {% else %}
                %button.btn.btn-white.width-100p Pass
                {% endif %}
      {% if rating %}
      %form{action: '{% url "reactions:reaction_new" current_reaction.pk %}', method: 'POST', enctype: 'multipart/form-data'}
        .panel.panel-default
          .panel-body.pb-0
            {% csrf_token %}
            %input{type: 'hidden', name: 'next', value: '{{ next }}'}
            {% bootstrap_form form show_label=False %}
            .thumbnail.well
              .thumbnail-close
                {% bootstrap_icon 'remove' %}
              .thumbnail-url-image
              %a.thumbnail-url{target: '_blank'}
                %span.thumbnail-url-title
              .thumbnail-url-description
          .panel-footer
            {% bootstrap_button "Save" button_class="btn-primary width-100p" %}
      {% endif %}
    .col-lg-9.col-lg-pull-3
      .mb-10.strong Tree
      .row
        {% for reaction in tree reversed %}
        .col-xs-12.col-sm-4
          %a.reaction-title.btn-info{href: '{% url "reactions:detail" reaction.pk %}'}
            {% include "reactions/_reaction_title_table.html" %}
        {% endfor %}
      .row
        {% for list in generations %}
        .col-xs-12.col-sm-4
          {% if list %}
          .mb-10
            {% if forloop.counter == 1 %}
            .strong {{ g_title.0 }}
            {% elif forloop.counter == 2 %}
            .strong {{ g_title.1 }}
            {% else %}
            .strong {{ g_title.2 }}
            {% endif %}
          {% endif %}
          {% for reaction in list %}
            {% if reaction in tree %}
            %a.reaction-title.btn-info{href: '{% url "reactions:detail" reaction.pk %}'}
              {% include "reactions/_reaction_title_table.html" %}
            {% else %}
            %a.reaction-title.btn-white{href: '{% url "reactions:detail" reaction.pk %}'}
              {% include "reactions/_reaction_title_table.html" %}
            {% endif %}
          {% endfor %}
        {% endfor %}
{% endblock %}
{% block javascript %}
:javascript
  $('.modal-btn').click(function(){
    var url = $(this).attr('url');
    var text = $(this).text();
    $.ajax({
      method: 'POST',
      url: url,
    }).done(function(data){
      $('.modal-table-wrapper').html(data);
      $('.modal-header strong').html(text);
    });
  });
  $('textarea').liveUrl({
    success: function(data){
      $('#id_url').val(data.url);
      $('#id_url_title').val(data.title);
      $('#id_url_description').val(data.description);
      $('#id_url_image').val(data.image);
      if(data.image) {
        $('form .thumbnail-url-image').css('background-image', 'url(' + data.image + ')');
        $('form .thumbnail-url-image').show();
      }
      $('form .thumbnail-url').attr('href', data.url);
      $('form .thumbnail-url-title').html(data.title);
      $('form .thumbnail-url-description').html(data.description);
      $('form .thumbnail').show();
    }
  });
  $('.thumbnail-close').click(function(){
    $('#id_url').val('');
    $('#id_url_title').val('');
    $('#id_url_description').val('');
    $('#id_url_image').val('');
    $('form .thumbnail').hide();
  });
{% endblock %}
