{% extends "_layout.html" %}
{% block content %}
.container
  .row
    .col-xs-12
      %h3 Tree
  .row
    {% for reaction in tree reversed %}
    .col-xs-2
      %ul
        %li {{ reaction.actor }}
        %li
          %a{href: '{% url "reactions:detail" reaction.pk %}'}
            %span {{ reaction.title }}
    {% endfor %}
.container
  .row
    {% for list in lists %}
    .col-xs-4
      %h3 List {{ forloop.counter0 }}
      {% for reaction in list %}
        {% if reaction in tree %}
        .panel.panel-primary
          .panel-heading {{ reaction.actor }}
          .panel-body
            %p.mb-0
              %a{href: '{% url "reactions:detail" reaction.pk %}'}
                %span {{ reaction.title }}
            %p.mb-0
              {% if reaction.deleted == True %}
              %span This reaction is deleted.
              {% else %}
              %span {{ reaction.contents }}
              {% endif %}
        {% else %}
        .panel.panel-default
          .panel-heading {{ reaction.actor }}
          .panel-body
            %p.mb-0
              %a{href: '{% url "reactions:detail" reaction.pk %}'}
                %span {{ reaction.title }}
            %p.mb-0
              {% if reaction.deleted == True %}
              %span This reaction is deleted.
              {% else %}
              %span {{ reaction.contents }}
              {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
      -# %form{action: '{% url "topics:delete" topic.pk %}', method: 'POST', enctype: 'multipart/form-data'}
      -#   {% csrf_token %}
      -#   %button.btn.btn-sm.btn-warning Delete
{% endblock %}
