{% extends "_layout.html" %}
{% block content %}
.container
  .row
    .col-xs-12
      %h3 Tree
  .row
    {% for reaction in tree reversed %}
    .col-xs-2
      %ul
        %li {{ reaction.actor }}
        %li
          %a{href: '{% url "reactions:detail" reaction.pk %}'}
            %span {{ reaction.contents }}
    {% endfor %}
.container
  .row
    {% for list in lists %}
    .col-xs-4
      %h3 List {{ forloop.counter0 }}
      {% for reaction in list %}
        {% if reaction in tree %}
        .panel.panel-primary
          .panel-heading {{ reaction.actor }}
          .panel-body
            %a{href: '{% url "reactions:detail" reaction.pk %}'}
              %span {{ reaction.contents }}
        {% else %}
        .panel.panel-default
          .panel-heading {{ reaction.actor }}
          .panel-body
            %a{href: '{% url "reactions:detail" reaction.pk %}'}
              %span {{ reaction.contents }}
        {% endif %}
      {% endfor %}
    {% endfor %}
{% endblock %}
