{% load thumbnail staticfiles %}
%table
  %tbody
    %tr
      %td
        {% if topic.actor.user_profile.photo %}
        {% thumbnail topic.actor.user_profile.photo "45x45" crop="center" as im %}
        %img.mr-10{src: '{{ im.url }}', width: '{{ im.width }}', height: '{{ im.height }}'}
        {% endthumbnail %}
        {% else %}
        %img.mr-10{src: '{% static "images/pica.jpg" %}', width: '45', height: '45'}
        {% endif %}
      %td
        %div {{ topic.actor.username }}
        %div {{ topic.created_at }}
