{% load thumbnail staticfiles %}
%table
  %tbody
    %tr
      %td
        {% if current_reaction.actor.user_profile.photo %}
        {% thumbnail current_reaction.actor.user_profile.photo "45x45" crop="center" as im %}
        %img.mr-10{src: '{{ im.url }}', width: '{{ im.width }}', height: '{{ im.height }}'}
        {% endthumbnail %}
        {% else %}
        {% thumbnail current_reaction.actor.user_profile.photo_default "45x45" crop="center" as im %}
        %img.mr-10{src: '{{ im.url }}', width: '{{ im.width }}', height: '{{ im.height }}'}
        {% endthumbnail %}
        {% endif %}
      %td
        %div {{ current_reaction.actor.username }}
        %div {{ current_reaction.created_at }}
